{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "transform-inline-environment-variables",
      {
        "include": ["NODE_ENV"]
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
